<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        'phpdoc_annotation_without_dot' => false,
    ))
    ->setFinder($finder)
;